/* Import */

@import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono");

/* Global */

::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background: #212121;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #111;
}

body {
    font-family: "Ubuntu Condensed", sans-serif;
    background: #212121;
    color: #666;
}

code {
    font-family: "Ubuntu Mono", monospace;
}


/* Containers */

.container.space {
    margin-top: 70px;
    margin-bottom: 70px;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.bg-1,
.page-title {
    background: rgba(0, 0, 0, 0.15);
}


/* Button */

.btn-dark {
    background: #111;
    border-color: #222;
    color: #888;
    border-radius: 1000px;
}

.btn-dark:hover {
    background: #333;
    border-color: #333;
    color: #DDD;
}


/* Editor */

#editor {
    font-family: "Ubuntu Mono", monospace;
    font-size: 18px;
    color: #fff;
    background: #223;
    box-shadow: 0 0 0 0 #223;
    border-top: 4px solid #44082e;
    transition: all 0.3s;
    z-index: 1;
    position: relative;
    line-height: 30px;
    padding: 30px 10px;
}

#editor.full {
    box-shadow: 0 0 0 2000px #223;
}

#editor .code span:nth-of-type(1) {
    color: #8ff234;
    font-weight: bold;
}

#editor .code span:nth-of-type(2),
#editor .code li {
    color: #5e97ce;
}

#editor .code ul {
    padding: 0;
    margin: 0;
}

#editor .code li {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}

#editor .code b {
    width: 8px;
    height: 16px;
    background: #fff;
    display: inline-block;
    position: relative;
    top: 3px;
}

@media(min-width:768px) {
    #editor {
        font-size: 28px;
        line-height: 50px;
        padding: 80px;
    }
    #editor .code b {
        width: 12px;
        height: 22px;
    }
}


/* Introduction */

#introduction {
    color: #ddd;
}

#introduction .title {
    font-size: 5em;
    letter-spacing: 5px;
}

#introduction .subtitle {
    font-size: 2em;
    opacity: 0.6;
}

#introduction .secret {
    font-size: 1.2em;
    opacity: 0.4;
    margin-top: 10px;
}


/* Progress list */

.progress-list .title,
.connect .title {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
}

.progress-list .subtitle {
    text-align: left;
    font-size: 16px;
    border: 0;
    text-transform: uppercase;
    margin-top: 20px;
}

.progress-list .item {
    padding: 6px 0;
    font-size: 18px;
    color: #aaa;
}

.progress-list small {
    float: right;
    color: #666;
}

.progress-list .bar {
    background: #292929;
    margin-top: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress-list .fill {
    height: 3px;
}

.progress-list .green .fill {
    background: #0F6;
}

.progress-list .yellow .fill {
    background: #FD0;
}


/* Connect */

.connect-item {
    color: #666;
}

.connect-item:hover,
.connect-item:focus {
    text-decoration: none;
    color: #eee;
}

.connect-item:nth-of-type(1),
.connect-item:nth-of-type(3) {
    padding-right: 5px;
}

.connect-item:nth-of-type(2),
.connect-item:nth-of-type(4) {
    padding-left: 5px;
}

.connect-item>* {
    transition: all 0.2s;
}

.connect-item .fa {
    background: #252525;
    width: 100%;
    height: 165px;
    text-align: center;
    font-size: 5em;
    padding-top: 30px;
}

.connect-item .fa:first,
.connect-item .fa:nth-of-type(4) {
    background: #353535;
}

.connect-item .caption {
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: -42px;
    z-index: 1;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
}

.connect-item:hover .caption {
    color: tomato;
}


/* Projects */

.project {
    border: 3px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 10px 0;
    cursor: default;
}

.project .media-left {
    padding-right: 0;
}

.project .media-left a {
    width: 128px;
    height: 128px;
    display: block;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.project:hover .media-left a {
    opacity: 1;
}

.project .media-body {
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-left: 15px;
}

.project .media-heading {
    color: #aaa;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.project:hover .media-heading {
    color: #fff;
}

.project .media-body p {
    max-height: 60px;
    overflow: hidden;
/* Footer */

#footer {
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.15);
}

#footer p {
    margin: 0;
}
